@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --Moderate-blue: #5457b6;
    --Soft-Red: #ed6468;
    --Light-grayish-blue: #c3c4ef;
    --Pale-red: #ffb8bb;
    --Dark-blue: #324152;
    --Grayish-Blue: #67727e;
    --Light-gray: #eaecf1;
    --Very-light-gray: #f5f6fa;
    --White: #ffffff;
    --a: #00000034;
    
}

body{
    background-color: var(--Very-light-gray);
    font-size: 16px;
}